/* Introdução Sobre*/
.interna_contato {
  background: url("../images/bg-contato.jpg") no-repeat center;
  background-size: cover;
}

/*Conteudo*/

/* Orçamento*/

.contato {
  padding: 40px 0;
}

.contato_form {
  padding-right: 60px;
}

.contato_form label {
  display: block;
  color: #000000;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.contato_form input {
  display: block;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;
  color: #000000;
  padding: 7px 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', serif;
  margin-bottom: 10px;
}

.contato_form textarea {
  display: block;
  width: 100%;
  height: 120px;
  border: 4px solid #fec63e;
  background: none;
  color: #000000;
  padding: 7px 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', serif;
  margin-bottom: 20px;
}

.contato_form button {
  padding: 7px 40px;
  background: none;
}

/* Orçamento Dados*/

.contato_dados {
  color: #000000;
}

.contato_dados h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #fec63e;
  line-height: 25px;
  font-weight: bold;
}

.contato_dados span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, 'Times New Roman', serif;
}

.contato_dados span:nth-of-type(even) {
  margin-bottom: 30px;
}

.contato_dados ul {
  margin-top: 10px;
}

.contato_dados ul li {
  display: inline-block;
  margin-right: 10px;
}

.contato_dados ul li a {
  border: 3px solid #fec63e;
  display: block;
  padding: 10px;
}

.contato_dados ul li a:hover {
  border-color: #000000;
}

.contato_mapa {
  margin-bottom: 60px;
}